bc
bfs
cc
cc_sv
converter
pr
pr_spmv
sssp
tc
main

test/out/*.out

benchmark/out/*.out
benchmark/graphs/*.sg
benchmark/graphs/*.wsg
benchmark/graphs/raw/*

.vscode

profiling/parsed
profiling/plots
build